<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600687952329-qed8mh3k4eh43c7hrs0hjdr165peps0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600687952329-qed8mh3k4eh43c7hrs0hjdr165peps0t</string>
	<key>API_KEY</key>
	<string>AIzaSyDiEwGi6YktD-XJinA9-AwgNwXJmMoPCXM</string>
	<key>GCM_SENDER_ID</key>
	<string>600687952329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projets</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600687952329:ios:f383a83d15dc27602be818</string>
</dict>
</plist>